@font-face {
    font-family: Roboto Mono;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

#name {
    font-size: 35pt;
	margin-bottom: 7pt;
}

#title {
	font-size: 30pt;
	margin: 30pt 0;
}

#nav li {
    display: inline;
    margin: 0 10pt;
}

#nav li a {
    font-size: 20pt;
    color: lightgray;
}

.projectBox {
	text-align: center;
	margin-bottom: 10pt;
}

.projTitle {
    font-size: 22pt;
    color: white;
	margin: 0;
}

.projImage {
	width: 400pt;
}

.projDate {
	margin-top: 5pt;
	color: lightgray;
}

.projDesc {
	max-width: 500pt;
	margin: 5pt 0;
}

.projLink {
	color: red;
}

hr {
	width: 50%;
	margin: 20pt;
}