@font-face {
    font-family: Roboto Mono;
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

#name {
    font-size: 35pt;
	margin-bottom: 7pt;
}

#title {
	font-size: 30pt;
	margin: 30pt 0;
}

#nav li {
    display: inline;
    margin: 0 10pt;
}

#nav li a {
    font-size: 20pt;
    color: lightgray;
}